.search{
    margin: 20px 50px 0;
}

.search input{
    border: 0;
    padding: 20px 10px 10px;
    width: calc(100% - 81px);
    color: #999;
    font-size: 20px;
}

.search input:focus{
    outline: 0;
    border-bottom: 1px solid #CCC;
}

.btn{
    padding: 6px 16px;
    background: #002c42;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #002c42;
    box-shadow: inset 1px 1px 4px 2px #FFF;
}

.radio{
    margin: 20px 50px 0;
}

.radio input{
    width: 20px;
    height: 20px;
}

.radio label{
    font-size: 20px;
    margin-right: 60px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}